name: Build and Deploy

on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set image name with date
        run: echo "IMAGE_NAME=choseongwoo/ganoverflow-back:$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./nest
          push: true
          tags: ${{ env.IMAGE_NAME }}
          timeout: 12000


      # - name: Modify docker-compose.yml
      #   run: |

      - name: SSH Remote Commands
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 118.67.134.211
          command_timeout: 200m
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            cd ganoverflow
            docker pull ${{ env.IMAGE_NAME }}
            docker-compose down
            images=$(docker images | awk 'NR>4 {print $3}')
            if [ -n "$images" ]; then
              echo "$images" | xargs docker rmi -f
            fi
            sed -i '/nest:/,/image: / s|\(image: \).*|\1'"${{ env.IMAGE_NAME }}"'|' docker-compose.yml
            docker-compose up --build -d
